@import "../colors";
@import "../placeholders/typography";

.additional-block {
  height: 60px;
  background-color: $light-gray;
}

.section-contact {
  @extend %section-padding;
  background-color: #252934;

  .section-title {
    color: $light-gray;

    &:after {
      background-color: $light-gray;
    }
  }

  .form-info {
    @extend %text-semi-bold;

    margin-top: 3rem;
    text-align: center;
    color: $sandy-brown;
  }

  .form-block {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include screen-medium-up {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include screen-large-up {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    form {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: susy-span(4 of 4 wide);

      @include screen-medium-up {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: susy-span(6 of 8);
      }

      @include screen-large-up {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: susy-span(6 of 12);
      }

      .form-input {
        width: 100%;
        margin-bottom: .5rem;

        input, textarea {
          width: 100%;
          background-color: $blue-mirage;
          padding: .6rem .9rem;
          border: none;
          color: #fff;

          &::placeholder {
            color: $light-gray;
          }
        }

        textarea {
          min-height: 150px;
        }
      }

      .invalid {
        color: orangered;
      }

      .form-submit {
        margin-top: 5px;
        text-align: right;
      }
    }
  }
}